{% extends "audiocrowd/base.html" %}

{% load custom_tags %}

{% block task %}
    <script>
        $(document).ready(function () {
            $("#acr_rate_1").siblings(".acr-rate-wrapper").hide();
            var current = 1;
            var max = 1;
            a();
            function a() {
                if(current == 1){
                    $(".acr-left-button").prop("disabled", true)
                } else {
                    $(".acr-left-button").prop("disabled", false)
                }
                if(current == max || current == {{ to_rate|length }}){
                    $(".acr-right-button").prop("disabled", true)
                } else {
                    $(".acr-right-button").prop("disabled", false)
                }
            }
            $(".acr-left-button").click(function () {
                if(current > 1){
                    var sounds = document.getElementsByTagName('audio');
                    for(i=0; i<sounds.length; i++) sounds[i].pause();
                    $("#acr_rate_" + current).hide();
                    $("#acr_rate_" + --current).show();
                }
                a();
                return false;
            });
            $(".acr-right-button").click(function () {
                if(current < {{ to_rate|length }}){
                    var sounds = document.getElementsByTagName('audio');
                    for(i=0; i<sounds.length; i++) sounds[i].pause();
                    $("#acr_rate_" + current).hide();
                    $("#acr_rate_" + ++current).show();
                }
                a();
                return false;
            });
            $(document).on("stimulus_ended", function () {
                a();
            });
            $(document).on("acr_attr_changed", function () {
                max = $(".container-acr[data-is-checked=true]").length + 1;
                a();
                if($(".container-acr[data-is-checked=false]").length == 0){
                    $("#acr_submit").prop("disabled", false)
                }
            });
        });
    </script>
    <form method="post">
        {% csrf_token %}
        {% for index, stimuli in to_rate %}
            <div id="acr_rate_{{ index }}" class="acr-rate-wrapper">
                <div class="panel-heading">
                    {{ acr_job_rate.0 }} {{ index }} / {{ to_rate|length }}
                </div>
                <div class="panel-body">
                    <div style="text-align: center; padding: 0px">
                        {% display_stimulus stimuli index volume %}
                    </div>
                    <br>
                    {% acr_scale index stimuli %}
                    <br>
                    <div class="align-right">
                        <button type="button" class="acr-button acr-left-button">
                            {{ acr_job_rate.2 }}
                        </button>
                        <button type="button" class="acr-button acr-right-button">
                            {{ acr_job_rate.3 }}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="align-right">
            <input id="acr_submit" type="submit" value="{{ acr_job_rate.4 }}" disabled>
        </div>
    </form>
{% endblock %}