<div id="container_acr_{{ index }}" class="container-acr" data-is-checked="false">
    <script>
        $(document).ready(function () {
            if("{{ stimuli.name }}" != "noname" && "{{ stimuli.type }}" == "aud"){
                $(".acr-radio[name='{{ stimuli.name }}'").prop("disabled", true);
            }
            $(document).on("{{ stimuli.name }}_ended", function () {
                $(".acr-radio[name='{{ stimuli.name }}'").prop("disabled", false);
            });
            $(".acr-radio[name='{{ stimuli.name }}'").click(function () {
                if ($("#container_acr_{{ index }}").attr("data-is-checked") == "false") {
                    $("#container_acr_{{ index }}").attr("data-is-checked", "true");
                    $(document).trigger("acr_attr_changed");
                }
           });
        });
    </script>
    <div>
        <div class="container-inline-left">
            {{ acr_scale.0 }}
        </div>
        <div class="container-inline-right">
            {{ acr_scale.1 }}</div>
        </div>
    <div>
        <div class="container-inline-left">
            <input class="acr-radio" type="radio" name="{{ stimuli.name }}" value="5"> {{ acr_scale.2 }}
        </div>
        <div class="container-inline-right">5</div>
    </div>
    <div>
        <div class="container-inline-left">
             <input class="acr-radio" type="radio" name="{{ stimuli.name }}" value="4"> {{ acr_scale.3 }}
        </div>
        <div class="container-inline-right">4</div>
    </div>
    <div>
        <div class="container-inline-left">
             <input class="acr-radio" type="radio" name="{{ stimuli.name }}" value="3"> {{ acr_scale.4 }}
        </div>
        <div class="container-inline-right">3</div>
    </div>
    <div>
        <div class="container-inline-left">
             <input class="acr-radio" type="radio" name="{{ stimuli.name }}" value="2"> {{ acr_scale.5 }}
        </div>
        <div class="container-inline-right">2</div>
    </div>
    <div>
        <div class="container-inline-left">
             <input class="acr-radio" type="radio" name="{{ stimuli.name }}" value="1"> {{ acr_scale.6 }}
        </div>
        <div class="container-inline-right">1</div>
    </div>
</div>