{% load static %}

<div>
    <div>{{ pre_msg }}</div>
    <br>
    <div class="align-center">
        <audio id="calibrate_audio" class="stimulus-aud" onvolumechange="volume_changed()" controls>
            <source src="{% static file.path %}" type="audio/wav">
            Your browser does not support the audio tag
        </audio>
        <input id="calibrate_volume" type="hidden" name="calibrate" value="1">
        <script>
            $(document).ready(function () {
                $("#calibrate_audio").prop("volume", "{{ volume }}")
                volume_changed();
            });

            function volume_changed() {
                $("#calibrate_volume").val($("#calibrate_audio").prop("volume"));
            }
        </script>
    </div>
    <br>
    <div>{{ post_msg }}</div>
</div>