{% extends "audiocrowd/base.html" %}

{% load custom_tags %}

{% block task %}
    <div class="panel-heading">{{ qualification_job_introduction.0 }}</div>
    <div class="panel-body">
        <div>{{ qualification_job_introduction.1 }}</div>
        <br>
        {% acr_scale %}
        <br>
        <div>{{ qualification_job_introduction.2 }}</div>
    </div>
    <div class="panel-heading">{{ qualification_job_introduction.3 }}</div>
    <div class="panel-body">
        {{ qualification_job_introduction.4 }}
        <ul>
            <li>{{ qualification_job_introduction.5 }}</li>
            <li>{{ qualification_job_introduction.6 }}</li>
            <li>{{ qualification_job_introduction.7 }}</li>
        </ul>
        {{ qualification_job_introduction.8 }}
    </div>
    <div class="align-right">
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="{{ qualification_job_introduction.9 }}">
        </form>
    </div>
{% endblock %}