{% extends "audiocrowd/base.html" %}

{% load custom_tags %}

{% block task %}
    <div class="panel-heading">{{ qualification_job_introduction.0 }}</div>
    <div class="panel-body">
        <div>{{ qualification_job_introduction.1 }}</div>
        <br>
        {% acr_scale %}
        <br>
        <div>{{ qualification_job_introduction.2 }}</div>
        {{ qualification_job_introduction.3 }}
        <ol>
            <li>{{ qualification_job_introduction.4 }}</li>
            <li>{{ qualification_job_introduction.5 }}</li>
            <li>{{ qualification_job_introduction.6 }}</li>
        </ol>
        {{ qualification_job_introduction.7 }}
        <br>
        {{ qualification_job_introduction.8 }}
        <div class="align-right">
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="{{ qualification_job_introduction.9 }}">
            </form>
        </div>
    </div>
{% endblock %}