{% extends "audiocrowd/base.html" %}
{% load custom_tags %}

{% block task %}
    <div class="panel-heading">{{ training_job_setup.0 }}</div>
    <div class="panel-body">{{ training_job_setup.1 }}
        <p>{{ training_job_setup.3 }}</p>
        <form method="post">
            {% csrf_token %}
            {% calibrate_volume calibrate_stimulus volume %}
            <p>{{ training_job_setup.4 }}</p>
            <div class="align-right">
                <input type="submit" value="{{ training_job_setup.5 }}">
            </div>
        </form>
    </div>
{% endblock %}